<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                @Html.ActionLink("Dashboard", "Index", "Home")
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Administration<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        @Html.ActionLink("Users", "Users","Administration")
                     
                    </li>
               
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i>Tickets<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        @Html.ActionLink("Current tickets", "Tickets", "Ticket") 
                    </li>
                    <li>
                        @Html.ActionLink("Create", "Create", "Ticket")
                    </li>
                </ul>
            </li>
           
        </ul>
    </div>
</div>

